footer {
  @include light();

	text-align: center;
	font-size: 12px;

  margin-bottom: 30px;
}

@media (#{$desktop}) {
  .bottom-on-photo {
    position: relative;

    margin-top: -310px;

    a, p, span {
      color: #FFF !important;
    }
  }
}