<ion-view view-title="Home" hide-nav-bar="true">

  <ion-content class="padding home">
    
    <!-- if offline -->
    <div ng-hide="online">
      {{ 'Offline' | translate }}
    </div><!-- if offline -->
    
    <!-- if online -->
    <div ng-show="online">
      
      <img src="img/app-icon.svg" class="app-icon">
    
        <p class="searching" ng-hide="ready">
          {{ 'Searching' | translate }}
        </p>
        
        <div class="table" ng-show="ready">

          <p class="property">
            {{ 'CurrentCity' | translate }}
          </p>
          <p class="value">
            {{currentCity}}
          </p>

          <p class="property">
            {{ 'Coordinates' | translate }}
          </p>
          <p class="value">
            {{currentLoc}}
          </p>

          <canvas width=700 height=100></canvas>
          
          <div class="row">
            <div class="col">
              <div class="button button button-clear button-positive play-current-city liga" ng-click="play();">
                <span ng-show="!nowPlaying">
                  &#217;
                  <!-- {{ 'Play' | translate }} -->
                </span>
                <span ng-show="nowPlaying">
                  &#220;
                  <!-- {{ 'Pause' | translate }} -->
                </span>
              </div>    
            </div>
          </div>

        </div><!-- table -->
        
        <div class="about">
          
          <!-- how it works -->
          <section>
            <h1>
              {{ 'HowItWorks' | translate }}
            </h1>

            <p class="description">
              {{ 'Description' | translate }}
            </p>
          </section><!-- how it works -->
          
          <!-- how sounds other cities -->
          <section>
            <h1>
              {{ 'OtherCities' | translate }}
            </h1>

            <p class="description">
              {{ 'WannaToKnow' | translate }}
            </p>

            <section ng-repeat="city in cities | orderBy: 'name' | orderBy: 'popular' | limitTo: limit">
              
              <div class="row other-cities">

                <div class="col col-50 text-right one-city" 
                  ng-click="
                    setLocation('', {{city.id}}, '{{city.loc}}');
                    selectCity({{$index}});
                    playOtherCity()"
                  ng-class="{'active': cityNum == $index}">

                  <span class="play positive">
                    <span class="liga">
                      &#217;
                    </span>
                    <!-- {{ 'Play' | translate }} -->
                  </span>

                  <span class="pause positive">
                    <span class="liga">
                      &#220;
                    </span>
                    <!-- {{ 'Pause' | translate }} -->
                  </span>

                </div><!-- col -->

                <div class="col col-50 text-left">
                  <p class="city-name">
                    {{ city.id | translate }}
                  </p>
                  <p class="location">
                    {{ city.loc }}
                  </p>
                </div>

              </div><!-- row -->

            </section><!-- one city -->

            <div class="row">
              <div class="col">
                <div class="button button-full button-clear button-positive" 
                  ng-click="limit = cities.length"
                  ng-hide="limit > 13">
                  {{ 'ShowMoreCities' | translate }}
                </div>
              </div>
            </div>

          </section><!-- how sounds other cities -->
          
          <div class="row">
            <div class="col">

              <p class="description">
                <a href="#" ng-click="show()" class="button button-clear button-positive button-block small-button">
                  {{ 'Author' | translate }}
                </a>

                <p class="special-thanks">
                  Thanks: Andrey Mende
                </p>
              </p>

            </div>
          </div>

        </div><!-- about -->

    </div><!-- if online -->

  </ion-content>

</ion-view>