<div class="container about">
  <div class="row">

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-2 col-lg-offset-2">

			<img src="/assets/images/about/me.jpg" class="face" alt="Andrey Keske">

			<p>
				I am Andrey Keske designer and front-end developer.
			</p>

			<p>
				Born on 21 june 1987 in Yekaterinburg.
				<br />
				Now I live in Saint Petersburg.
			</p>

			<h2>
				My applications
			</h2>

			<p>
				In 2014 I started making iOS apps and made
				<a href="https://itunes.apple.com/us/app/skills!/id952734764?ls=1&mt=8">Skills!</a> and <a href="https://itunes.apple.com/us/app/swayer/id896856284?ls=1&mt=8">Swayer</a>, which were downloaded ~11K &mdash; for me it's so freaking cool.
			</p>

			<p>
				Now I also do Kanji Ninja ()
			</p>

			<h2>
				Get in touch with me
			</h2>

			<ul>
				<li>
					<a href="mailto:hello@andreykeske.com">hello@andreykeske.com</a>
				</li>
				<li>
					<a href="https://www.facebook.com/andrey.keske">Facebook</a>
				</li>
				<li>
					<a href="https://instagram.com/andreykeske/">Instagram</a>
				</li>
			</ul>

		</div>

  </div>
</div>